header{
    background-color: aqua;
    color: dodgerblue;
    margin: 0px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a{
    color: black;

}